* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

body {
  margin: 0;
  background-color: #f2f2f2; }

.nav-bar {
  background-color: #fff;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center; }

.logo {
  width: 150px; }
  .logo img {
    width: 100%; }

.nav-links-list {
  width: 650px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

.watch-video-modal,
.edit-video-modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 600px; }

.close-modal-btn {
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0; }

.video-edit-form {
  width: 100%;
  height: 50vh; }

.video-edit-form-section {
  width: 80%;
  margin: 30px auto; }

.video-edit-form-title-input,
.video-edit-form-topic-input,
.video-edit-form-url-input {
  width: 100%;
  padding: 10px; }

.video-edit-save-btn {
  margin-left: 55px; }

.gallery-container {
  max-width: 1366px;
  margin: 100px auto; }

.gallery-container-title {
  margin-left: 95px; }

.gallery-list {
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-gap: 50px 10px;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr)); }

.video-card-item {
  cursor: pointer;
  background-color: #fff;
  margin: 0 auto;
  width: 325px; }
  .video-card-item img {
    width: 100%; }

.edit-video-btn {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 30px; }

.cta-text {
  padding: 75px 110px;
  text-decoration: underline; }

.video-title-text {
  padding: 5px 10px; }

.image-container {
  position: relative;
  width: 325px;
  height: 200px;
  background-color: orange; }
  .image-container img {
    width: 100%;
    opacity: 1; }
  .image-container:hover img {
    opacity: 0; }
  .image-container:hover .cta-container {
    opacity: 1; }

.cta-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: white; }
  .cta-container:hover {
    opacity: 1; }

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #fff; }

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start; }
  .footer-container img {
    margin: 0;
    width: 100%; }
  .footer-container ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column; }
    .footer-container ul li {
      margin-bottom: 10px; }
  .footer-container p {
    margin: 0;
    padding: 0 20px;
    line-height: 22px; }

.footer-section {
  margin: 20px; }
